/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    line-height: 1;
    font-family: Verdana, Tahoma, sans-serif;
}


h1, h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 40px;
}

main {
    margin: 20px auto;
    min-width: 700px;
    max-width: 800px;
}

nav {
    background-color: #333;
    height: 44px;
    width: 100%;
    position: fixed;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    color: white;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: 14px 20px;
}

nav li a:hover {
    background-color: #111;
}

#emblem {
    float: left;
    text-align: center;
    padding: 11px;
    font-family: Courier, monospace;
    font-size: 22px;
    background-color: #111;
}

.section {
    margin: 80px 0;
}

#education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.school {
    border: 2px solid #ff0000;
    width: 200px;
    height: 300px;
    display: inline-block;
    padding: 10px;
}

.funParagraph {
    margin: 0 auto;
}

#mainHeading {
    font-size: 72px;
    font-family: Courier, monospace;
    margin: 190px 0 0;
}

#me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#me .col {
    display: inline-flex;

}

#name {
    border: 2px solid red;
}

#name h3 {
    margin: 0;
}

#portrait {
    height: 300px;
    width: 300px;
    border: 2px solid red;
    float: right;
}