/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    line-height: 1;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    margin: 20px auto;
    min-width: 700px;
    max-width: 800px;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 40px;
}

main {
    margin: 20px auto;
    min-width: 700px;
    max-width: 800px;
}

nav {
    background-color: #333;
    height: 44px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: 14px;
}

nav li a:hover {
    background-color: #111;
}

#education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.school {
    border: 2px solid #ff0000;
    width: 200px;
    height: 300px;
    display: inline-block;
    padding: 10px;
}

.funParagraph {
    margin: 0 auto;
}

#mainHeading {
    font-size: 96px;
    font-family: Courier, monospace;
    margin: 0px;
}

#tagline {
    margin: 0px;
}